/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  color: #2e2d2d;
}
.main_container {
  width: 60vw;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .main_container {
    width: 90vw;
  }
}
.container_nav {
  display: flex;
  flex-direction: row-reverse;
}
nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  nav a {
    font-size: 1.3rem;
    color: red;
    text-decoration: none;
    color: #2e2d2d;
    margin: 1rem;
  }
}
@media (max-width: 600px) and (max-width: 600px) {
  nav a {
    font-size: 2rem;
  }
}
.top_section {
  height: 84vh;
  background-color: #e9ecef;
}
@media (max-width: 600px) {
  .top_section {
    height: 55vh;
  }
}
.top_section .top_image img {
  height: auto;
  width: 20vw;
  margin-left: 2rem;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .top_section .top_image img {
    display: none;
  }
}
.top_section h1 {
  font-size: 4rem;
  margin-left: 2rem;
}
.top_section p {
  margin-left: 2rem;
  margin-top: 1rem;
}
.top_section .divider {
  border: 1px dashed #cac9c9;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.7rem;
}
.top_section .second_p {
  font-size: 1.2rem;
}
.top_section .hire_me {
  height: 3rem;
  width: 9rem;
  padding-top: 0.8rem;
  text-align: center;
  margin-left: 2rem;
  margin-top: 1.5rem;
  background-color: #b3b3b3;
  font-size: 1.4rem;
  color: #f3f2f2;
}
.middle_section {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  .middle_section {
    display: flex;
    flex-direction: column;
  }
}
.middle_section .listen_up {
  width: 45%;
  margin-right: 5%;
}
@media (max-width: 600px) {
  .middle_section .listen_up {
    width: 90%;
    margin-bottom: 2rem;
  }
}
.middle_section .listen_up h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.middle_section .listen_up p {
  line-height: 1.3rem;
  font-size: 1.1rem;
}
.middle_section .stuff_im_good {
  width: 45%;
}
.middle_section .stuff_im_good h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.middle_section .stuff_im_good ul li {
  border: 1px solid #b3b3b3;
  border-bottom: none;
  height: 2.3rem;
  width: 100%;
  font-size: 1.2rem;
  padding-top: 0.7rem;
  padding-left: 1rem;
}
.middle_section .stuff_im_good ul li:last-child {
  border-bottom: 1px solid #b3b3b3;
}
.bottom_section h3 {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bottom_section .top_table {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #b3b3b3;
  align-items: center;
  height: 3rem;
}
.bottom_section .top_table div {
  font-size: 1.1rem;
  font-weight: bold;
}
.bottom_section .top_table .column_one {
  margin-left: 1rem;
  margin-right: 8rem;
}
.bottom_section .top_table .column_two {
  margin-right: 14rem;
}
.bottom_section .top_table .column_three {
  margin-right: 14rem;
}
.second_row {
  display: flex;
  flex-direction: row;
  background-color: #b3b3b3;
  height: 2.7rem;
  align-items: center;
}
.second_row .column_one {
  margin-left: 1.4rem;
  margin-right: 9rem;
}
.second_row .column_two {
  margin-right: 16rem;
}
.second_row .column_three {
  margin-right: 12rem;
}
.third_row {
  display: flex;
  flex-direction: row;
  height: 2.7rem;
  align-items: center;
}
.third_row .column_one {
  margin-left: 1.4rem;
  margin-right: 9rem;
}
.third_row .column_two {
  margin-right: 14.5rem;
}
.third_row .column_three {
  margin-right: 8.5rem;
}
.fourth_row {
  display: flex;
  flex-direction: row;
  height: 2.7rem;
  align-items: center;
  background: #b3b3b3;
}
.fourth_row .column_one {
  margin-left: 1.4rem;
  margin-right: 9rem;
}
.fourth_row .column_two {
  margin-right: 15.4rem;
}
.fourth_row .column_three {
  margin-right: 11.1rem;
}
.copyright {
  text-align: center;
  background-color: #b3b3b3;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
}
.copyright div {
  padding-top: 1rem;
}
